.movie-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.detailPage-veiw {
  min-width: 300px;
  max-width: 300px;
}
.vote-average {
  background-color: white;
  color: rgb(143, 157, 229);
  border-radius: 10px;
  text-align: center;
}
.spinner {
  display: flex;
  justify-content: center;
}
.favourite-movie-wrapper {
  position: absolute;
  /* top: 20px; */
  /* right: 15px; */
  width: 40px !important;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pakflix-wrapper {
  /* justify-content: center; */
  /* margin-top: 10px; */
  /* justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column; */
  background-color: rgb(143, 157, 229);
}
.actors {
  margin: 4px 4px;
  padding: 4px;
  background-color: rgb(143, 157, 229);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.overveiw {
  color: white;
}
.img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
}
.imdb {
  font-weight: bold;
}
.text {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.actor-container {
  width: 150px;
  white-space: pre-wrap;
}
