.search-bar {
  width: 500px;
  border-radius: 15px;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.favourite-tv-container {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 40px !important;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}
